<div class="row">
    <div class="col-md-12">
        <div class="map-location">
            <img class="img-responsive" src="../../../content/img/map.jpg" />
            <div class="map_location1">
                <img src="../../../content/img/img-icon-1.png" width="80" height="80" alt="" />
                </a>
                </button>
            </div>
            <div class="map_location2">
                <img src="../../../content/img/img-icon-2.png" width="80" height="80" alt="" />
            </div>
            <div class="map_location3">
                <img src="../../../content/img/img-icon-3.png" width="80" height="80" alt="" />
            </div>
            <div class="map_location4">
                <img src="../../../content/img/img-icon-4.png" width="80" height="80" alt="" />
            </div>
            <div class="map_location5">
                <img src="../../../content/img/img-icon-5.png" width="80" height="80" alt="" />
            </div>
            <div class="map_location6">
                <a href="#" data-toggle="modal" data-target="#product_viewgreen">
                    <img src="../../../content/img/img-icon-6.png" width="80" height="80" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="filter-sec">
    <div class="filter-button">
        <a href="#overlay" id="open-overlay">
            <img src="../../../content/img/filter-icon.png">
        </a>
    </div>
</div>
<div id="overlay">
    <div class="overlay-icons">
        <ul>
            <li class="filter_one">
                <img src="../../../content/img/popup-filter-icon1.png"> </li>
            <li>
                <img src="../../../content/img/popup-filter-icon2.png"> </li>
            <li>
                <img src="../../../content/img/popup-filter-icon3.png">
            </li>
            <li>
                <img src="../../../content/img/popup-filter-icon4.png"> </li>
            <li>
                <img src="../../../content/img/popup-filter-icon5.png"> </li>
            <li>
                <a href="#" class="close_btn">
                    <img src="../../../content/img/filter-close.png">
                </a>
            </li>
        </ul>
        <div class="pop-up">
            <h3>Filter by Formation</h3>
            <input type="search" class="" placeholder="Type Formation">
            <p></p>
            <div class="arrow-down"></div>
        </div>
    </div>
</div>
</div>