<!-- Main content -->

<div class="all-wells-dashboard">
  <div class="box no-border">
    <div class="box-header">
      <div class="row">
        <div class="table_title_sec">
          <div class="dashboard_title">
            <span> Cu</span>rrent Alarms</div>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap text-center">
        <div class="row">
          <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr role="row">
                  <th> Business Unit</th>
                  <th> Formation</th>
                  <th> Platform</th>
                  <th> Well Name</th>
                  <th> Contract</th>
                  <th> Producer/Injector</th>
                  <th>Alarm Time</th>
                  <th>Hz</th>
                  <th>Value</th>
                  <th>Alarm Type</th>
                  <th>Acknowledged By</th>
                  <th>SMS Status</th>
                  <th>Email Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 1 </td>
                  <td> Well 1 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td>977212</td>
                  <td>Low Low</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 1 </td>
                  <td> Well 1 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td>977213</td>
                  <td>Low Low</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> NBU </td>
                  <td> TA </td>
                  <td> Platform 2 </td>
                  <td> Well 2 </td>
                  <td> Contract B</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 3766386 </td>
                  <td>High</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 3 </td>
                  <td> Well 3 </td>
                  <td> Contract C</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>A</td>
                  <td> 3766387 </td>
                  <td>Low Low</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU3 </td>
                  <td> TA </td>
                  <td> Platform 5 </td>
                  <td> Well 5 </td>
                  <td> Contract C</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>Hz</td>
                  <td> 3766386 </td>
                  <td>High High</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 6 </td>
                  <td> Well 6 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 977212 </td>
                  <td>Clear</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> BR </td>
                  <td> Platform 7 </td>
                  <td> Well 7 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 977213 </td>
                  <td>Clear</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> GU </td>
                  <td> Platform 8 </td>
                  <td> Well 8 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 3766387 </td>
                  <td>Clear</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 9 </td>
                  <td> Well 9 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 3766386 </td>
                  <td>High</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> BR </td>
                  <td> Platform 11 </td>
                  <td> Well 11 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 3766386 </td>
                  <td>Clear</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 1 </td>
                  <td> Well 1 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 3481199 </td>
                  <td>Clear</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 1 </td>
                  <td> Well 1 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 977016 </td>
                  <td>Low</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 1 </td>
                  <td> Well 1 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 977016 </td>
                  <td>Clear</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td> BU1 </td>
                  <td> TA </td>
                  <td> Platform 1 </td>
                  <td> Well 1 </td>
                  <td> Contract A</td>
                  <td>Producer</td>
                  <td>2017-Dec-04 19:05:32</td>
                  <td>kPa</td>
                  <td> 3481199 </td>
                  <td>High</td>
                  <td>James</td>
                  <td>YES</td>
                  <td>YES</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div style="min-height: 50px;" class=""> </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /.box-body -->
  </div>
</div>